Repository simonyiszk/schdesign-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.{json,yml,md}": "prettier --write"
}

Set up Next base 3
  .babelrc
  .eslintrc.json
  .vscode/settings.json
  next-env.d.ts
  package-lock.json
  package.json
  postcss.config.js
  src/components/placeholder/PlaceholderNav.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/style/globalStyles.css
  stylelintrc.json
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

Add Layout component and add docs links to navbar
  src/components/Layout.tsx
  src/components/placeholder/PlaceholderNav.tsx
  src/pages/index.tsx
  src/style/globalStyles.css
Due: eslint --fix

Update readme
  README.md
  src/style/globalStyles.css
Due: prettier --write

Delete yarn.lock
  yarn.lock
Due: none

Remove old theme
  src/utils/theme.ts
Due: eslint --fix

Fix netlify build
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

shuffling, small copy change
  src/components/Carbon.tsx
  src/components/Footer.tsx
  src/data/headerMenuItems.yml
  src/data/idl.yml
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Config gatsby
  .babelrc
  .eslintrc.json
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierignore
  LICENSE
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  gatsby-ssr.js
  next-env.d.ts
  package-lock.json
  package.json
  postcss.config.js
  src/components/placeholder/PlaceholderNav.tsx
  src/images/gatsby-astronaut.png
  src/images/gatsby-icon.png
  src/pages/_app.tsx
  src/pages/index.tsx
  src/style/globalStyles.css
  src/styles/globalStyles.css
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

update
  package-lock.json
  package.json
Due: prettier --write

Set up contentful
  .eslintignore
  gatsby-config.js
  package-lock.json
  package.json
  src/@types/__generated__/gatsby-types.ts
  src/components/Layout.tsx
  src/components/gallery/Gallery.module.scss
  src/components/gallery/Gallery.tsx
  src/components/gallery/ImageDisplay.tsx
  src/components/header/Navbar.tsx
  src/components/paragraph/Paragraph.tsx
  src/components/paragraph/ParagraphLink.tsx
  src/components/separator/Separator.module.scss
  src/components/separator/Separator.tsx
  src/data/rolunk.mdx
  src/data/works.json
  src/declarations.d.ts
  src/pages/index.tsx
  src/styles/globalStyles.css
  src/utils/carouselFormatters.ts
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

add env example
  .env.example
  .gitignore
  src/components/paragraph/Paragraph.tsx
  src/components/paragraph/ParagraphComponents.tsx
  src/components/paragraph/ParagraphLink.tsx
Due: eslint --fix

Add about page
  src/@types/__generated__/gatsby-types.ts
  src/components/footer/Footer.module.scss
  src/components/footer/Footer.tsx
  src/components/gallery/Gallery.tsx
  src/components/gallery/ImageDisplay.tsx
  src/components/header/Navbar.tsx
  src/pages/rolunk/index.tsx
Due: eslint --fix

Add works and team page
  src/@types/__generated__/gatsby-types.ts
  src/assets/images/blank.png
  src/components/memberCard/MemberCard.tsx
  src/pages/csapatunk/index.tsx
  src/pages/munkaink/index.tsx
Due: eslint --fix

Add seo
  src/@types/__generated__/gatsby-types.ts
  src/components/Seo.tsx
  src/components/footer/Footer.tsx
  src/pages/404.tsx
  src/pages/csapatunk/index.tsx
  src/pages/index.tsx
  src/pages/munkaink/index.tsx
  src/pages/rolunk/index.tsx
  src/styles/globalStyles.css
Due: eslint --fix

Fix gatsby cloud build
  src/@types/__generated__/gatsby-types.ts
  src/components/Seo.tsx
  src/pages/404.tsx
  src/pages/csapatunk/index.tsx
  src/pages/index.tsx
  src/pages/munkaink/index.tsx
  src/pages/rolunk/index.tsx
Due: eslint --fix

Seo v2
  gatsby-config.js
  src/@types/__generated__/gatsby-types.ts
  src/components/Layout.tsx
  src/components/Seo.tsx
  src/pages/404.tsx
  src/pages/index.tsx
Due: eslint --fix

Fix image hover
  src/@types/__generated__/gatsby-types.ts
  src/components/gallery/ImageDisplay.tsx
  src/data/rolunk.mdx
  src/data/works.json
Due: eslint --fix, prettier --write

Add redirects
  gatsby-config.js
  gatsby-node.js
Due: eslint --fix

Update deps
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

Update members title handling
  src/@types/__generated__/gatsby-types.ts
  src/components/Seo.tsx
  src/components/memberCard/MemberCard.tsx
  src/pages/csapatunk/index.tsx
Due: eslint --fix

Remove redundant property
  gatsby-node.js
Due: eslint --fix

Fix members sorting
  .eslintrc.json
  src/@types/__generated__/gatsby-types.ts
  src/pages/csapatunk/index.tsx
Due: eslint --fix, prettier --write

Add preview access token and change bg to png
  .env.example
  gatsby-config.js
  src/@types/__generated__/gatsby-types.ts
  src/assets/images/bg.ai
  src/assets/images/bg.png
  src/assets/images/bg_2x.png
  src/styles/globalStyles.css
Due: eslint --fix

Update deps
  package-lock.json
  package.json
  src/@types/__generated__/gatsby-types.ts
Due: eslint --fix, prettier --write

Add sitemap generation
  gatsby-config.js
  package-lock.json
  package.json
  src/@types/__generated__/gatsby-types.ts
  src/components/Seo.tsx
Due: eslint --fix, prettier --write

Add Schönherz arculat
  static/scharculat/SCHArculat.pdf
  static/scharculat/index.html
Due: none

Fix sch arculat
  src/@types/__generated__/gatsby-types.ts
  src/pages/scharculat/index.module.scss
  src/pages/scharculat/index.tsx
  static/scharculat/index.html
Due: eslint --fix

Enable frames for /scharculat
  gatsby-config.js
  src/@types/__generated__/gatsby-types.ts
Due: eslint --fix

add comment
  gatsby-config.js
Due: eslint --fix

Add html file
  static/scharculat/index.html
Due: none

Fix header
  gatsby-config.js
Due: eslint --fix

Remove default security headers
  gatsby-config.js
Due: eslint --fix

Fix 404 on no trailing slash
  gatsby-config.js
  src/@types/__generated__/gatsby-types.ts
  src/pages/scharculat/index.tsx
  static/SCHArculat.pdf
  static/scharculat/index.html
Due: eslint --fix

Remove frame security header
  gatsby-config.js
Due: eslint --fix

Add szmsz redirect
  gatsby-node.js
Due: eslint --fix

added GTM added htaccess redirect
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Added GTM
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

added sitemap plugin
  gatsby-config.js
Due: eslint --fix
