Repository simonyiszk/schdesign-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.{json,yml,md}": "prettier --write"
}

added sitemap plugin
  gatsby-config.js
Due: eslint --fix

update trello and drive links
  gatsby-node.js
Due: eslint --fix

Update gatsby-node.js
  gatsby-node.js
Due: eslint --fix

Add course components
  .env.example
  package-lock.json
  src/@types/__generated__/gatsby-types.ts
  src/components/courses/Course.tsx
  src/components/courses/CourseSection.tsx
  src/components/separator/Separator.tsx
  src/pages/index.tsx
  static/courseicons/3d.png
  static/courseicons/ai.png
  static/courseicons/dp.png
  static/courseicons/ps.png
  static/courseicons/web.png
Due: eslint --fix, prettier --write

make course text less depressive
  src/components/courses/CourseSection.tsx
Due: eslint --fix

Add new courses
  package-lock.json
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Add new course join form
  src/@types/__generated__/gatsby-types.ts
  src/components/courses/CourseSection.tsx
  src/pages/index.tsx
Due: eslint --fix

Add ps courses
  package-lock.json
  package.json
  src/@types/__generated__/gatsby-types.ts
  src/pages/index.tsx
Due: eslint --fix, prettier --write

Change hover effect
  src/@types/__generated__/gatsby-types.ts
  src/components/gallery/ImageDisplay.tsx
  src/components/memberCard/MemberCard.tsx
Due: eslint --fix

change course times
  src/pages/index.tsx
Due: eslint --fix

Update ps course
  src/pages/index.tsx
Due: eslint --fix

Add web courses
  src/components/memberCard/MemberCard.tsx
  src/pages/index.tsx
Due: eslint --fix

replace wrong fb link in footer
  src/components/footer/Footer.tsx
Due: eslint --fix

Revert idk whats this
  src/components/memberCard/MemberCard.tsx
Due: eslint --fix

Add mui masonry lib for gallery
  package-lock.json
  package.json
  src/@types/__generated__/gatsby-types.ts
  src/components/Layout.tsx
  src/components/gallery/Gallery.module.scss
  src/components/gallery/Gallery.tsx
  src/components/gallery/ImageDisplay.tsx
Due: eslint --fix, prettier --write

Update gatsby to v4
  package-lock.json
  package.json
  src/@types/__generated__/gatsby-types.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

test
  src/@types/__generated__/gatsby-types.ts
Due: eslint --fix

Disable courses
  src/pages/index.tsx
Due: eslint --fix

Add share links
  gatsby-config.js
  package-lock.json
  package.json
  postcss.config.js
  src/@types/__generated__/gatsby-types.ts
  src/components/Layout.tsx
  src/components/courses/Course.tsx
  src/components/courses/CourseSection.tsx
  src/components/footer/Footer.tsx
  src/components/gallery/Gallery.tsx
  src/components/gallery/ImageDisplay.tsx
  src/components/header/Hero.tsx
  src/components/header/Navbar.tsx
  src/components/memberCard/MemberCard.tsx
  src/components/separator/Separator.tsx
  src/pages/csapatunk/index.tsx
  src/pages/index.tsx
  src/pages/rolunk/index.tsx
  src/utils/array.ts
  stylelintrc.json
Due: eslint --fix, prettier --write

Updated Trello link
  gatsby-node.js
Due: eslint --fix

added fun stuff
  src/pages/index.tsx
Due: eslint --fix

Remove unnecessary deps
  package-lock.json
  package.json
Due: prettier --write

Fix scripts
  package.json
  vercel.json
Due: prettier --write

Fix images
  src/components/gallery/ImageDisplay.tsx
  src/components/header/Hero.module.scss
  src/components/memberCard/MemberCard.tsx
  src/components/separator/Separator.module.scss
  src/pages/csapatunk/index.tsx
  src/styles/core.css
  src/utils/contentful.ts
Due: eslint --fix

Fix prettier
  package.json
Due: prettier --write

add formik and yup
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

form init
  src/components/Layout.tsx
  src/components/form/NewProjectForm.tsx
  src/components/form/formTypes.ts
  src/pages/uj/index.tsx
Due: eslint --fix

rearrange chips, add easter egg
  public/assets/images/mad_gif.webp
  src/components/form/CustomChip.tsx
  src/components/form/NewProjectForm.tsx
  src/pages/megrendeles/index.tsx
Due: eslint --fix

add momemnt
  package-lock.json
  package.json
Due: prettier --write

add checkboxes
  src/components/form/NewProjectForm.tsx
  src/components/form/formTypes.ts
Due: eslint --fix

add chips and date picker
  src/components/form/CustomChip.tsx
  src/components/form/NewProjectForm.tsx
  src/components/form/formTypes.ts
  src/data/divisionProjects.json
  tsconfig.json
Due: eslint --fix, prettier --write

Revert "allow console log on submit"
  src/components/form/NewProjectForm.tsx
Due: eslint --fix

allow console log on submit
  src/components/form/NewProjectForm.tsx
Due: eslint --fix

remove pnpm lock
  pnpm-lock.yaml
Due: none

Megrendeloi form (#26)
  package-lock.json
  package.json
  public/assets/images/mad_gif.webp
  src/components/Layout.tsx
  src/components/form/CustomChip.tsx
  src/components/form/NewProjectForm.tsx
  src/components/form/formTypes.ts
  src/data/divisionProjects.json
  src/pages/megrendeles/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

form backend
  package-lock.json
  package.json
  src/pages/api/form/megrendeles.ts
  src/utils/rate-limit.ts
  src/utils/send-email.ts
Due: eslint --fix, prettier --write

Add games redirect
  gatsby-node.js
Due: eslint --fix
