Repository simonyiszk/schdesign-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix type import
  src/utils/contentful.ts
Due: eslint --fix

delete unused project form related components
  src/components/form/CustomChip.tsx
  src/components/form/NewProjectForm.tsx
  src/components/form/formTypes.ts
Due: eslint --fix

delete components that became unused now
  src/components/Layout.tsx
  src/components/Seo.tsx
Due: eslint --fix

fix linting related issues
  src/utils/carouselFormatters.ts
  src/utils/contentful.ts
Due: eslint --fix

Migrate to app router (#37)
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/app/aszf/page.tsx
  src/app/csapatunk/page.tsx
  src/app/error.tsx
  src/app/layout.tsx
  src/app/munkaink/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/rolunk/page.tsx
  src/app/scharculat/page.tsx
  src/components/Layout.tsx
  src/components/Seo.tsx
  src/components/courses/Course.tsx
  src/components/courses/CourseSection.tsx
  src/components/form/CustomChip.tsx
  src/components/form/NewProjectForm.tsx
  src/components/form/formTypes.ts
  src/components/gallery/Gallery.tsx
  src/components/header/Navbar.tsx
  src/components/paragraph/Paragraph.tsx
  src/components/paragraph/SplitParagraph.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/aszf/index.tsx
  src/pages/csapatunk/index.tsx
  src/pages/megrendeles/index.tsx
  src/pages/munkaink/index.tsx
  src/pages/rolunk/index.tsx
  src/pages/scharculat/index.module.scss
  src/pages/scharculat/index.tsx
  src/utils/carouselFormatters.ts
  src/utils/contentful.ts
  src/utils/seo.ts
  tsconfig.json
Due: eslint --fix, prettier --write

remove client component related calls in courseSection
  src/components/courses/CourseSection.tsx
Due: eslint --fix

remove client component related calls in courseSection (#38)
  src/components/courses/CourseSection.tsx
Due: eslint --fix

fix return if no incoming mdx content
  src/components/courses/Course.tsx
Due: eslint --fix

fix return if no incoming mdx content (#39)
  src/components/courses/Course.tsx
Due: eslint --fix

Test date
  .vscode/settings.json
  src/components/courses/Course.tsx
Due: eslint --fix, prettier --write

test date 2
  pnpm-lock.yaml
  src/components/courses/Course.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

date test 3
  src/components/courses/Course.tsx
Due: eslint --fix

date test 4
  src/components/courses/Course.tsx
Due: eslint --fix

Fix dates (#41)
  .vscode/settings.json
  pnpm-lock.yaml
  src/components/courses/Course.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Remove logs
  src/components/courses/Course.tsx
Due: eslint --fix

remove old stuff, move stuff to devdependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

update next@15+, react@19
  next-env.d.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix tailwind warnings
  src/components/footer/Footer.tsx
  src/components/memberCard/MemberCard.tsx
Due: eslint --fix

fix nextjs viewport warning
  src/app/layout.tsx
Due: eslint --fix

turn off "no-default-export" as app route pages and layouts prefer this
  .eslintrc.json
Due: prettier --write

move cf generator to devdependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

tailwind/aspect-ratio to devdependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

remove explicit styled-components
  package.json
  pnpm-lock.yaml
Due: prettier --write

update react-icons
  package.json
  pnpm-lock.yaml
Due: prettier --write

update contentful rich text
  package.json
  pnpm-lock.yaml
Due: prettier --write

update clsx
  package.json
  pnpm-lock.yaml
Due: prettier --write

update saas
  package.json
  pnpm-lock.yaml
Due: prettier --write

move postcss plugins to devdep
  package.json
  pnpm-lock.yaml
Due: prettier --write

update mui
  package.json
  pnpm-lock.yaml
Due: prettier --write

update next-mdx-remote
  package.json
  pnpm-lock.yaml
Due: prettier --write

update prettier
  package.json
  pnpm-lock.yaml
Due: prettier --write

update postcss
  package.json
  pnpm-lock.yaml
Due: prettier --write

update tailwindcss
  package.json
  pnpm-lock.yaml
Due: prettier --write

update autoprefixer
  package.json
  pnpm-lock.yaml
Due: prettier --write

update non blocking packages (#42)
  .eslintrc.json
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/footer/Footer.tsx
  src/components/memberCard/MemberCard.tsx
Due: eslint --fix, prettier --write

bump site version
  package.json
Due: prettier --write

update contentful related packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

regenerate contentful types
  src/@types/generated/TypeCourse.ts
  src/@types/generated/TypeDisplayImage.ts
  src/@types/generated/TypeMember.ts
  src/@types/generated/TypeParagraph.ts
  src/@types/generated/TypeSiteSettings.ts
  src/@types/generated/TypeTermsOfService.ts
  src/@types/generated/index.ts
Due: eslint --fix

fix ignore generated folder
  .eslintignore
Due: none

fix types used on site
  src/components/courses/Course.tsx
  src/components/gallery/Gallery.tsx
  src/components/memberCard/MemberCard.tsx
  src/utils/contentful.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,yml,md}
