Repository simonyiszk/schdesign-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.{json,yml,md}": "prettier --write"
}

Add tos
  .eslintignore
  next.config.js
  package-lock.json
  package.json
  src/@types/generated/TypeDisplayImage.ts
  src/@types/generated/TypeMember.ts
  src/@types/generated/TypeParagraph.ts
  src/@types/generated/TypeTermsOfService.ts
  src/@types/generated/index.ts
  src/components/Layout.tsx
  src/components/footer/Footer.tsx
  src/components/header/Navbar.tsx
  src/components/paragraph/Paragraph.tsx
  src/components/paragraph/ParagraphComponents.tsx
  src/components/paragraph/SplitParagraph.tsx
  src/data/navbar.json
  src/pages/aszf/index.tsx
  src/pages/csapatunk/index.tsx
  src/pages/index.tsx
  src/pages/munkaink/index.tsx
  src/pages/rolunk/index.tsx
  src/utils/contentful.ts
  tailwind.config.js
  tsconfig.json
  vercel.json
Due: eslint --fix, prettier --write

Add konf trello redirect
  gatsby-node.js
Due: eslint --fix

Implement lightbox and update deps
  next.config.js
  package-lock.json
  package.json
  src/components/footer/Footer.tsx
  src/components/form/formTypes.ts
  src/components/gallery/Gallery.tsx
  src/components/gallery/ImageDisplay.tsx
  src/components/memberCard/MemberCard.tsx
  src/pages/aszf/index.tsx
  src/pages/index.tsx
  src/pages/megrendeles/index.tsx
Due: eslint --fix, prettier --write

Fix error
  src/components/form/NewProjectForm.tsx
Due: eslint --fix

Add form
  src/pages/megrendeles/index.tsx
Due: eslint --fix

Add back clicky cursor
  src/components/gallery/ImageDisplay.tsx
Due: eslint --fix

Add cms courses
  .eslintrc.json
  package-lock.json
  package.json
  src/@types/generated/TypeCourse.ts
  src/@types/generated/TypeDisplayImage.ts
  src/@types/generated/TypeMember.ts
  src/@types/generated/TypeParagraph.ts
  src/@types/generated/TypeSiteSettings.ts
  src/@types/generated/TypeTermsOfService.ts
  src/@types/generated/index.ts
  src/components/courses/Course.tsx
  src/components/courses/CourseSection.tsx
  src/pages/index.tsx
  src/utils/contentful.ts
Due: eslint --fix, prettier --write

Fix type error
  src/components/form/NewProjectForm.tsx
Due: eslint --fix

Fix type error 2
  src/components/form/NewProjectForm.tsx
  src/components/form/formTypes.ts
Due: eslint --fix

bump version
  package.json
Due: prettier --write

Style
  src/components/courses/Course.tsx
Due: eslint --fix

generate google event for course
  src/components/courses/Course.tsx
  src/utils/calendar.ts
Due: eslint --fix

use correct domain for calendar events
  src/utils/calendar.ts
Due: eslint --fix

edit course card behaviour
  src/components/courses/Course.tsx
Due: eslint --fix

edit course card behaviour (#30)
  src/components/courses/Course.tsx
Due: eslint --fix

fix vercel env var
  src/utils/contentful.ts
Due: eslint --fix

fix vercel env var (#31)
  src/utils/contentful.ts
Due: eslint --fix

hide past courses after 12 hours
  src/components/courses/CourseSection.tsx
Due: eslint --fix

hide past courses after 12 hours (#32)
  src/components/courses/CourseSection.tsx
Due: eslint --fix

npm install stuff
  package-lock.json
Due: prettier --write

Adding Google Console Verification code
  src/components/Seo.tsx
Due: eslint --fix

fallback option if körvezető is not found
  src/utils/contentful.ts
Due: eslint --fix

fallback option if körvezető is not found (#35)
  src/utils/contentful.ts
Due: eslint --fix

Update contentful.ts
  src/utils/contentful.ts
Due: eslint --fix

Update contentful.ts (#36)
  src/utils/contentful.ts
Due: eslint --fix

update next to v13.5.5
  package.json
  pnpm-lock.yaml
Due: prettier --write

update next-mdx-remote to use with rsc
  package.json
  pnpm-lock.yaml
Due: prettier --write

remove package-lock to prefer pnpm-lock
  package-lock.json
Due: prettier --write

automatic next configuration
  tsconfig.json
Due: prettier --write

update typescript to v5.2.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

update typescript-eslint
  package.json
  pnpm-lock.yaml
Due: prettier --write

migrate main layout to app router
  src/app/layout.tsx
  src/components/header/Navbar.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/utils/seo.ts
Due: eslint --fix

migrate error pages to app router
  src/app/error.tsx
  src/app/not-found.tsx
  src/pages/404.tsx
Due: eslint --fix

migrate sch arculat page
  src/app/scharculat/page.tsx
  src/pages/scharculat/index.module.scss
  src/pages/scharculat/index.tsx
Due: eslint --fix

migrate about us page
  src/app/rolunk/page.tsx
  src/components/paragraph/SplitParagraph.tsx
  src/pages/rolunk/index.tsx
Due: eslint --fix

migrate tos page
  src/app/aszf/page.tsx
  src/components/paragraph/Paragraph.tsx
  src/pages/aszf/index.tsx
Due: eslint --fix

migrate works page
  src/app/munkaink/page.tsx
  src/components/gallery/Gallery.tsx
  src/pages/munkaink/index.tsx
Due: eslint --fix

migrate team page
  src/app/csapatunk/page.tsx
  src/pages/csapatunk/index.tsx
Due: eslint --fix

delete newProjectForm as won't do
  src/pages/megrendeles/index.tsx
Due: eslint --fix

migrate main page
  src/app/page.tsx
  src/components/courses/Course.tsx
  src/components/courses/CourseSection.tsx
Due: eslint --fix
